<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="71388b11-28e2-452e-a411-1938d6192521"
            Publisher="CN=Rockford"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>GameResultRt</DisplayName>
    <PublisherDisplayName>Rockford</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>GameResultRt</Description>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="GameResultRt.App">
        <VisualElements
            DisplayName="GameResultRt"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="GameResultRt"
            ForegroundText="light"
            BackgroundColor="#222222">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>